/*
HTML redefined styles
*/

body
{
	font-family: Arial, Helvetica, sans-serif;
}

div.containerEntity,
div.containerSearchArea,
div.containerTabMenu,
div.containerLeftNav,
div.hsbcDivletLogon,
.hsbcDivletFooterLinksLeft
{
	display: none;
}

textarea
{
	height: 120px;
	width: 100%;
}